Repository elias-leslie/terminal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  # Python - backend in terminal/ directory
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        files: ^terminal/
      - id: ruff
        args: [--fix]
        files: ^terminal/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        files: ^terminal/
        additional_dependencies:
          - fastapi>=0.115.0
          - pydantic>=2.10.0

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore: .index.yaml,rebuild-utils.sh,rebuild.sh
  .index.yaml
  scripts/lib/rebuild-utils.sh
  scripts/rebuild.sh
Due: none

chore: 4 files
  .gitignore
  scripts/dev-tools.sh
  scripts/lib/dev-standards-config.sh
  terminal/logging_config.py
Due: none

docs: 2 files changed, 1 insertion(+), 16 deletions(-)
  .claude/rules/learned-patterns.md
  scripts/sf-commit.sh
Due: none

chore: Update backup index to include a new backup entry and its latest timestamp.
  backup-index.json
  backups/terminal_sessions_20251230-041258.sql
  tasks/refactoring/refactor-20251230-041312/baseline_targets.json
  tasks/refactoring/refactor-20251230-041312/refactor_targets.json
  tasks/refactoring/refactor-20260101-003256/refactor_targets.json
  tasks/refactoring/refactor-20260101-082001/refactor_targets.json
  tasks/refactoring/refactor-20260101-090611/baseline_targets.json
  tasks/refactoring/refactor-20260101-090611/refactor_targets.json
Due: none

chore(frontend): 17 files changed, 320 insertions(+), 69 deletions(-)
  backup-index.json
  frontend/components/ConfirmationDialog.tsx
  frontend/components/GlobalActionMenu.tsx
  frontend/components/KeyboardShortcuts.tsx
  frontend/components/LayoutModeButton.tsx
  frontend/components/ModeToggle.tsx
  frontend/components/PaneOverflowMenu.tsx
  frontend/components/PaneSwapDropdown.tsx
  frontend/components/PromptCleaner.tsx
  frontend/components/SessionInfoIcon.tsx
  frontend/components/SettingsDropdown.tsx
  frontend/components/TabActionMenu.tsx
  frontend/components/TabModeDropdown.tsx
  frontend/components/TerminalManagerModal.tsx
  frontend/components/TerminalSwitcher.tsx
  frontend/components/TerminalTabs.tsx
  frontend/components/UploadStatusToast.tsx
Due: eslint, tsc, prettier

chore: 1 file changed, 36 insertions(+)
  tasks/terminal-ux-overhaul/planning-state.json
Due: none

feat(terminal): Replace tmux copy-mode with native xterm.js scrolling
  backup-index.json
  frontend/components/Terminal.tsx
  frontend/components/UnifiedTerminalHeader.tsx
  frontend/lib/constants/terminal.ts
  frontend/lib/hooks/use-terminal-scrolling.ts
  frontend/lib/hooks/use-terminal-settings.ts
  tasks/terminal-ux-overhaul/plan.json
  terminal/api/terminal.py
  terminal/services/pty_manager.py
  terminal/utils/tmux.py
Due: eslint, tsc, prettier

chore(frontend): 11 files changed, 40 insertions(+), 99 deletions(-)
  .pre-commit-config.yaml
  frontend/components/ResizablePaneLayout.tsx
  frontend/components/TerminalTabs.tsx
  frontend/eslint.config.mjs
  frontend/lib/hooks/use-project-mode-switch.ts
  frontend/lib/hooks/use-terminal-handlers.ts
  frontend/lib/hooks/use-terminal-panes.ts
  frontend/lib/hooks/use-terminal-slot-handlers.ts
  frontend/lib/hooks/use-terminal-tabs-state.ts
  frontend/lib/utils/session.ts
  frontend/lib/utils/slot.ts
Due: eslint, tsc, prettier

chore(frontend): 1 file changed, 6643 deletions(-)
  frontend/package-lock.json
Due: prettier

deps(frontend): 2 files changed, 48 insertions(+), 1 deletion(-)
  frontend/biome.json
  frontend/package.json
Due: prettier

chore(frontend): 2 files changed, 14 insertions(+), 8 deletions(-)
  frontend/package.json
  frontend/tsconfig.json
Due: prettier

chore(frontend): 1 file changed, 2 insertions(+), 2 deletions(-)
  frontend/package.json
Due: prettier

chore(frontend): 1 file changed, 1 insertion(+)
  frontend/package.json
Due: prettier

chore(frontend): 10 files changed, 159 insertions(+), 67 deletions(-)
  frontend/lib/api-config.ts
  frontend/lib/hooks/use-claude-polling.ts
  frontend/lib/hooks/use-project-settings.ts
  frontend/lib/hooks/use-project-terminals.ts
  frontend/lib/hooks/use-prompt-cleaner.ts
  frontend/lib/hooks/use-terminal-panes.ts
  frontend/lib/hooks/use-terminal-sessions.ts
  frontend/lib/hooks/use-terminal-tabs-state.ts
  frontend/lib/hooks/use-terminal-websocket.ts
  frontend/next.config.ts
Due: eslint, tsc, prettier

chore(frontend): 2 files changed, 6 insertions(+), 5 deletions(-)
  frontend/components/Terminal.tsx
  terminal/api/terminal.py
Due: eslint, tsc, prettier

chore(frontend): 2 files changed, 5 insertions(+), 2 deletions(-)
  frontend/lib/hooks/use-file-upload.ts
  terminal/api/terminal.py
Due: eslint, tsc, prettier

chore(frontend): 2 files changed, 23 insertions(+), 23 deletions(-)
  frontend/lib/api-config.ts
  frontend/next.config.ts
Due: eslint, tsc, prettier

chore: 1 file changed, 107 insertions(+), 1 deletion(-)
  backup-index.json
Due: none

chore: 1 file changed, 7 insertions(+), 5 deletions(-)
  .index.yaml
Due: none

chore: 1 file changed, 1 insertion(+), 1 deletion(-)
  .index.yaml
Due: none

chore: 1 file changed, 7 insertions(+), 146 deletions(-)
  CLAUDE.md
Due: none

fix(prompt-cleaner): add X-Source-Client header for Agent Hub
  backup-index.json
  frontend/lib/hooks/use-prompt-cleaner.ts
Due: eslint, tsc, prettier

feat(frontend): add PWA support and fix WebSocket CORS
  frontend/app/layout.tsx
  frontend/lib/api-config.ts
  frontend/next.config.ts
  frontend/public/icons/icon-192.png
  frontend/public/icons/icon-512.png
  frontend/public/icons/icon.svg
  frontend/public/manifest.json
  frontend/public/sw.js
Due: eslint, tsc, prettier

chore(frontend): 5 files changed, 367 insertions(+), 15 deletions(-)
  .index.yaml
  backup-index.json
  frontend/app/layout.tsx
  frontend/lib/api-config.ts
  scripts/tclaude
Due: eslint, tsc, prettier

chore: 1 file changed, 213 insertions(+), 1 deletion(-)
  backup-index.json
Due: none

deps(frontend): 22 files changed, 375 insertions(+), 150 deletions(-)
  backup-index.json
  frontend/tsconfig.json
  pyproject.toml
  terminal/api/terminal.py
  terminal/main.py
  terminal/services/lifecycle.py
  terminal/services/lifecycle_batch.py
  terminal/services/lifecycle_core.py
  terminal/services/pty_manager.py
  terminal/services/summitflow_client.py
  terminal/storage/__init__.py
  terminal/storage/migrations/001_create_panes.py
  terminal/storage/migrations/002_add_layout_fields.py
  terminal/storage/pane_crud.py
  terminal/storage/project_settings.py
  terminal/storage/terminal.py
  terminal/storage/terminal_claude.py
  terminal/storage/terminal_crud.py
  terminal/storage/terminal_lifecycle.py
  terminal/storage/terminal_project.py
  terminal/storage/terminal_utils.py
  terminal/utils/tmux.py
Due: prettier

chore: 2 files changed, 112 insertions(+), 3 deletions(-)
  .index.yaml
  backup-index.json
Due: none

refactor(frontend): reduce ResizablePaneLayout.tsx from 676 to 93 lines
  .summitflow/context.json
  backup-index.json
  frontend/components/ResizablePaneLayout.tsx
  frontend/components/keyboard/FullKeyboard.styles.ts
  frontend/components/keyboard/FullKeyboard.tsx
  frontend/components/keyboard/keyboardLayouts.ts
  frontend/components/keyboard/useKeyboardHandler.ts
  frontend/components/pane-layouts/EmptyPaneState.tsx
  frontend/components/pane-layouts/FourPaneLayout.tsx
  frontend/components/pane-layouts/ResizeSeparator.tsx
  frontend/components/pane-layouts/SinglePaneLayout.tsx
  frontend/components/pane-layouts/ThreePaneLayout.tsx
  frontend/components/pane-layouts/TwoPaneLayout.tsx
  frontend/components/pane-layouts/index.ts
  frontend/components/pane-layouts/types.ts
  frontend/lib/hooks/pane-layout/index.ts
  frontend/lib/hooks/pane-layout/use-layout-change-handler.ts
  frontend/lib/hooks/pane-layout/use-min-size-calculator.ts
  frontend/lib/hooks/pane-layout/use-pane-renderer.tsx
  frontend/types/pane-layout.ts
  terminal/api/models/__init__.py
  terminal/api/models/panes.py
  terminal/api/pane_responses.py
  terminal/api/panes.py
  terminal/api/validators.py
  terminal/services/pane_service.py
  terminal/storage/pane_crud.py
  terminal/storage/pane_db_helpers.py
  terminal/storage/pane_sessions.py
  terminal/storage/pane_validation.py
  terminal/utils/tmux.py
Due: eslint, tsc, prettier

refactor(terminal): reduce panes.py from 409 to 196 lines
  terminal/api/panes.py
Due: none

fix(frontend): correct style injection and types in FullKeyboard
  frontend/components/keyboard/FullKeyboard.tsx
  frontend/components/keyboard/useKeyboardHandler.ts
Due: eslint, tsc, prettier

chore(frontend): 3 files changed, 20 insertions(+), 7 deletions(-)
  .index.yaml
  .summitflow/context.json
  frontend/components/keyboard/FullKeyboard.tsx
Due: eslint, tsc, prettier

chore: 1 file changed, 110 insertions(+), 1 deletion(-)
  backup-index.json
Due: none

refactor(frontend): reduce use-terminal-sessions.ts from 329 to 198 lines
  frontend/lib/hooks/use-terminal-sessions.ts
Due: eslint, tsc, prettier

refactor(frontend): reduce PromptCleaner.tsx from 314 to 181 lines
  frontend/components/PromptCleaner.tsx
Due: eslint, tsc, prettier

refactor(frontend): reduce use-project-terminals.ts from 303 to 141 lines
  frontend/lib/hooks/use-project-terminals-mutations.ts
  frontend/lib/hooks/use-project-terminals.ts
Due: eslint, tsc, prettier

refactor(frontend): reduce use-terminal-panes.ts from 420 to 160 lines
  frontend/lib/hooks/terminal-panes-api.ts
  frontend/lib/hooks/terminal-panes-types.ts
  frontend/lib/hooks/use-terminal-panes.ts
Due: eslint, tsc, prettier
