Repository elias-leslie/terminal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  # Python - backend in terminal/ directory
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        files: ^terminal/
      - id: ruff
        args: [--fix]
        files: ^terminal/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        files: ^terminal/
        additional_dependencies:
          - fastapi>=0.115.0
          - pydantic>=2.10.0

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(frontend): reduce use-terminal-handlers.ts from 457 to 187 lines
  frontend/lib/hooks/terminal-handler-actions.ts
  frontend/lib/hooks/terminal-handler-helpers.ts
  frontend/lib/hooks/terminal-handler-utils.ts
  frontend/lib/hooks/use-terminal-handlers.ts
  frontend/lib/hooks/use-terminal-handlers.types.ts
Due: eslint, tsc, prettier

chore(frontend): 2 files changed, 2 insertions(+), 3 deletions(-)
  .summitflow/context.json
  frontend/lib/hooks/use-terminal-panes.ts
Due: eslint, tsc, prettier

chore: 1 file changed, 328 insertions(+), 1 deletion(-)
  backup-index.json
Due: none

chore: 1 file changed, 110 insertions(+), 1 deletion(-)
  backup-index.json
Due: none

chore: 1 file changed, 219 insertions(+), 1 deletion(-)
  backup-index.json
Due: none

chore: 1 file changed, 5 insertions(+), 3 deletions(-)
  .index.yaml
Due: none

chore: add backup-index.json to gitignore
  .gitignore
  backup-index.json
  frontend/.gitignore
Due: none

chore: stop tracking backup-index.json
  backup-index.json
Due: none

chore: update index and dependencies
  .index.yaml
  frontend/package.json
  pyproject.toml
Due: prettier

refactor: various improvements and updates
  .index.yaml
  terminal/api/claude.py
  terminal/api/panes.py
  terminal/api/projects.py
  terminal/api/sessions.py
  terminal/api/terminal.py
  terminal/api/validators.py
  terminal/services/lifecycle_reconcile.py
  terminal/services/pane_service.py
  terminal/services/pty_manager.py
  terminal/storage/migrations/001_create_panes.py
  terminal/storage/pane_crud.py
  terminal/storage/project_settings.py
  terminal/storage/terminal_crud.py
  terminal/storage/terminal_project.py
  terminal/utils/tmux.py
Due: none

chore: remove sf-commit.sh symlink
  scripts/sf-commit.sh
Due: none

chore: delete stale debugging and boilerplate markdown
  TOUCH_SCROLLING_DEBUG.md
  frontend/README.md
Due: prettier

chore: 1 file changed, 35 insertions(+), 3 deletions(-)
  .gitignore
Due: none

chore: 33 files changed, 3 insertions(+), 3122 deletions(-)
  .gitignore
  .summitflow/context.json
  references/screenshots/Screenshot 2025-12-29 125826.png
  references/screenshots/Screenshot 2025-12-29 143114.png
  references/screenshots/Screenshot 2025-12-29 162852.png
  tasks/refactoring/refactor-20251230-041312/baseline_metrics.json
  tasks/refactoring/refactor-20251230-041312/baseline_targets.json
  tasks/refactoring/refactor-20251230-041312/implementation.json
  tasks/refactoring/refactor-20251230-041312/refactor_targets.json
  tasks/refactoring/refactor-20260101-003256/implementation.json
  tasks/refactoring/refactor-20260101-003256/refactor_targets.json
  tasks/refactoring/refactor-20260101-082001/implementation.json
  tasks/refactoring/refactor-20260101-082001/refactor_targets.json
  tasks/refactoring/refactor-20260101-090611/baseline_metrics.json
  tasks/refactoring/refactor-20260101-090611/baseline_targets.json
  tasks/refactoring/refactor-20260101-090611/implementation.json
  tasks/refactoring/refactor-20260101-090611/refactor_targets.json
  tasks/refactoring/refactor-20260101-092811/baseline_metrics.json
  tasks/refactoring/refactor-20260101-092811/baseline_targets.json
  tasks/refactoring/refactor-20260101-092811/implementation.json
  tasks/refactoring/refactor-20260101-092811/refactor_targets.json
  tasks/refactoring/refactor-20260101-100116/baseline_metrics.json
  tasks/refactoring/refactor-20260101-100116/baseline_targets.json
  tasks/refactoring/refactor-20260101-100116/implementation.json
  tasks/refactoring/refactor-20260101-100116/refactor_targets.json
  tasks/refactoring/refactor-20260101-102333/baseline_metrics.json
  tasks/refactoring/refactor-20260101-102333/baseline_targets.json
  tasks/refactoring/refactor-20260101-102333/implementation.json
  tasks/refactoring/refactor-20260101-102333/refactor_targets.json
  tasks/resizable-terminal-panes/plan.json
  tasks/resizable-terminal-panes/planning-state.json
  tasks/terminal-ux-overhaul/plan.json
  tasks/terminal-ux-overhaul/planning-state.json
Due: none
